@import url('reset.css');

button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

/* 移除點擊時的效果 */
button:focus {
    outline: none;
}
/* -------header------- */
header{
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: white;
    padding: 0 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    
}

.header-content{
    max-width: 1024px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo img:first-child{
    height: 40px;
}

.header-nav-out{
    display: flex;
    gap: 80px;
}

.cart img{
    width: 24px;
}
.header-nav{
    display: flex;
    align-items: center;
    gap: 80px;
}
.header-nav ul{
    display: flex;
    gap: 40px;
    
}

.header-nav a{
    text-decoration: none;
    font-size: 16px;
    color: #3F5D45;
    font-weight: 500;
    padding: 15px 12px;
}
.header-nav a:not(.cart):hover {
    border-bottom: 3px solid #FFE180;
}

.header-content .fa {
    display: none;
    font-size: 24px;
    color: #3F5D45;
}
.logo-small{
    height: 18px; /* 設定高度 */
    display: none;
   
}

/* --------main user-info--------- */
main{
    max-width: 900px;
    width: 100%;
    margin: 65px auto;
    display: flex;
    gap: 20px;

}
.user-info{
    max-width: 600px;
    width: 100%;
    color: #EAF0ED;
    background-color: #3F5D45;
    align-self: start;
    
    

}
.user-content{
    padding: 30px 40px;
    
}

.user-info h1{
    font-size: 36px;
    font-weight: 500;
    
}

.user-info-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.pay-top-dot{
    display: flex;
    flex-direction: row;
    gap: 65px;
    font-size: 20px;
    
}
.pay-top-dot i{
    position: relative;
    color: #EAF0ED;
}


.pay-top-dot i:not(:last-child)::after{
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100%);
    width: 65px;
    height: 1px;
    background-color: #EAF0ED;
}

.form-group label{
    font-size: 20px;
    display: block;
    margin-bottom: 8px;
}

.form-row{
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    
}
.form-group{
    margin-bottom: 16px;
}
input:focus {
    background: white;
    color: #3F5D45;
}


input::placeholder {
    color: #8DA291;
}
main input {
    width: 100%;
    padding: 16px 20px;
    font-size: 16px;
    border: none;
    background: rgba(234, 240, 237, 0.95);
    color: #8DA291;
           
}
.bill{
    display: flex;
    margin-bottom: 40px;
    
}
.e-bill,.papper-bill{
    border: 1px solid #EAF0ED;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    justify-content: center;
    padding: 16px 0;
}
.e-bill{
    background-color: #EAF0ED;
    color: #3F5D45;
}
.papper-bill{
    color: #EAF0ED;
}



.next{
    background-color: #FFE180;
    color: #3F5D45;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 18px 0;
    display: flex;
    text-decoration: none;
    justify-content: center;

}

/* -------order------- */
.order{
    max-width: 350px;
    width: 100%;
}
.order h2{
    background-color: #EAF0ED;
    color: #8DA291;
    font-size: 24px;
    font-weight: 500;
    padding: 16px 0;
    text-align: center;
}
.order ul{
    border: 1px solid #EAF0ED;
    margin-bottom: 20px;
}
.order-payment li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
    padding: 20px;
    color: #3F5D45;
}
.total{
    font-size: 20px;
    font-weight: 500;
}
.item-name{
    color: #3F5D45;
    font-size: 18px;
    font-weight: 400;
}
.shopping-list ul{
    padding: 8px 0;
}
.shopping-list li{
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 8px 20px;
    color: #3F5D45;
}
.shopping-list img{
    width: 144px;
   height: 120px;
   object-fit: cover;
   
}
.item-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.item-text{
    font-size: 22px;
    font-weight: 500;
    color: #3F5D45;
}





/* --------電子報-------- */

.newsletter{
    height: 116px;
    background-color: #3F5D45;
    display: flex;
    align-items: center;
    
}

.newsletter-container{
    display: flex;
    max-width: 1024px;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
}

.newsletter-text{
    display: flex;
    align-items: center;
    gap: 20px;
}

.newsletter-text img{
    width: 40px;
    height: 40px;
}

.newsletter-text h3{
    color: #EAF0ED;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1.5px;
}

/* Form 樣式 */
.newsletter-form {
    display: flex;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: white;
    gap: 10px; 
    width: 400px;
}


.input-group input {
    flex: 1;
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 10px;
   
   
   
    
}

.input-group input::placeholder {
    color: #8DA291;
}

.input-group button {
    background-color: #FFE180;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}

.input-group button:hover {
    background-color: #EFB73E;
}

.email{
    padding-left: 10px;
}

/* -------footer-------- */

footer{
    background-color: #EAF0ED;
}

.footer-container{
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;  /* 加上這行，讓左右兩邊分散對齊 */
    padding-left: 30px;
}

.footer-left img{
    width: 170px;
    margin-bottom: 115px;
}

.footer-left ul{
    margin-bottom: 30px;
}

.footer-left li{
    color: #3F5D45;
    line-height: 1.5;
}



.footer-right h2{
    color: #3F5D45;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Noto Serif TC", serif;
    line-height: 1.5;
    letter-spacing: 4px;
    font-size: 20px;
    padding-right: 22px;
}

.footer-bottom{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3F5D45;
    padding-bottom: 30px;
    padding-left: 16px;
    padding-right: 24px;

}
.footer-bottom a{
    text-decoration: none;
    margin-right: 15px;
}
.footer-bottom img{
    width: 32px;
    
}


